/**
 * @name Custom Effects & Decoration
 * @author DTACat, WNTIV
 * @version 2.4.1
 * @description Displays A Custom Profile Effect And Avatar Decoration.
 * @source https://github.com/DTACat/Custom-Effects-And-Decorations-Discord-Theme
 * @website https://sites.google.com/view/goofytests/home-page
 * @invite 7SBn9qzwxC
 */

@import url('https://raw.githubusercontent.com/DTACat/Custom-Effects-And-Decorations-Discord-Theme/main/src/main.css');
@import url('https://raw.githubusercontent.com/DTACat/Custom-Effects-And-Decorations-Discord-Theme/main/src/banner.css');

:root {
	/**
	 * Change the URL below to the link of an image/gif you want to be everyones profile effect
	 */
	--profile-effect-image: url("https://cdn.discordapp.com/assets/profile_effects/effects/2024-02-28/ki-detonate/intro.png");
	/**
	 * Change the URL below to the link of an image/gif you want to be everyones avatar decoration
	 */
	--avatar-decoration-image: url("https://cdn.discordapp.com/assets/profile_effects/effects/2024-02-28/ki-detonate/intro.png");
}

/* User-specific overrides (copy/paste template and replace <unique-username>) */
[aria-label="<unique-username>"] {
	/* The URL for the profile effect override this user should have */
	--profile-effect-image: url("https://cdn.discordapp.com/assets/profile_effects/effects/b17d139f2e9/ghost-skull/intro.png");
	/* The URL for the avatar decoration override this user should have */
	--avatar-decoration-image: url("https://cdn.discordapp.com/avatar-decoration-presets/a_c3cffc19e9784f7d0b005eecdf1b566e.png?size=240&passthrough=true");
}
