/**
 * @name Custom Effects & Decoration
 * @author DTACat, WNTIV
 * @version 2.4.3
 * @description Displays A Custom Profile Effect And Avatar Decoration.
 * @source https://github.com/DTACat/Custom-Effects-And-Decorations-Discord-Theme
 * @website https://sites.google.com/view/goofytests/home-page
 * @invite 7SBn9qzwxC
 */

@import url('https://raw.githubusercontent.com/DTACat/Custom-Effects-And-Decorations-Discord-Theme/main/src/main.css');
@import url('https://raw.githubusercontent.com/DTACat/Custom-Effects-And-Decorations-Discord-Theme/main/src/banner.css');

:root {
	/**
	 * Change the URL below to the link of an image/gif you want to be everyones profile effect
	 * Defult is set to Ki Detonate
	 */
	--profile-effect-image: url("https://raw.githubusercontent.com/DTACat/Collectibles/main/Archive/feelin-70s-intro-loop.png");
	/**
	 * Change the URL below to the link of an image/gif you want to be everyones avatar decoration
	 * Defult is set to Balance
	 */
	--avatar-decoration-image: url("https://cdn.discordapp.com/avatar-decoration-presets/a_b98093bb7723235a4cd2792762795640.png?size=240&passthrough=true");
}

/* User-specific overrides (copy/paste template and replace <unique-username>) */
[aria-label*="<dafuqcatboom_legit_83789>"], [id="popout_28"] {
	/**
	 * The URL for the profile effect override this user should have
	 * Defult is set to Dark Omens
	 */
	--profile-effect-image: url("https://cdn.discordapp.com/assets/profile_effects/effects/b17d139f2e9/ghost-skull/intro.png");
	/**
	 * The URL for the avatar decoration override this user should have
	 * Defult is set to Cat Ears
	 */
	--avatar-decoration-image: url("https://cdn.discordapp.com/avatar-decoration-presets/a_c3cffc19e9784f7d0b005eecdf1b566e.png?size=240&passthrough=true");
}
