.artContainer__394fc {
  background-image: url(https://raw.githubusercontent.com/DTACat/Custom-Effects-And-Decorations-Discord-Theme/main/Images/Frame%2013.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -20px;
  margin-left: -10px;
}
.art__23b36 {
    display: none;
}
.ctaButton__0d23d {
    display: none;
}
