.shopForAllBackgroundImage__009d9 {
  height: 200px;
  background-image: url(https://raw.githubusercontent.com/DTACat/Custom-Effects-And-Decorations-Discord-Theme/main/Images/286791050-4b98f54c-ab33-4468-938c-e4aa17cedd2e.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.art__23b36 {
  display: none;
}

.mainColumn_f44fc2 {
  display: none;
}

.ctaButton__7d20c {
  display: none;
}
