/**
 * @name Dark Omen Loop
 * @author DTACat, WNTIV
 * @version 1.1.0
 * @description Loops The Dark Omen Profile Effect Intro.
 * @source https://github.com/DTACat/Dark-Omen-Loop-Discord-Theme
 * @website https://sites.google.com/view/goofytests/home-page
 * @invite 7SBn9qzwxC
 */

[id^="popout"] img[src^="https://cdn.discordapp.com/assets/profile_effects/effects/"],
.focusLock__10aa5 img[src^="https://cdn.discordapp.com/assets/profile_effects/effects/"] {
    display: none
}

[id^="popout"] .inner__39f40,
.focusLock__10aa5 .inner__39f40 {
    scale: 1;
    background-image: var(--profile-effect-image);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.focusLock__10aa5 .inner__39f40 {
    background-size: cover;
    background-position: 0px 0px;
}
