/**
 * @name Custom Profile Effect
 * @author DTACat, WNTIV
 * @version 2.0.0
 * @description Displays A Custom Profile Effect.
 * @source https://github.com/DTACat/Custom-Profile-Effects-Discord-Theme
 * @website https://sites.google.com/view/goofytests/home-page
 * @invite 7SBn9qzwxC
 */

[class^="userPopout"] img[src^="https://cdn.discordapp.com/assets/profile_effects/effects/"],
[class^="profilePanel"] img[src^="https://cdn.discordapp.com/assets/profile_effects/effects/"],
[class^="focusLock"] img[src^="https://cdn.discordapp.com/assets/profile_effects/effects/"] {
    display: none
}

[class^="userPopout"] *[class^="profileEffects"] *[class^="inner"],
[class^="profilePanel"] *[class^="profileEffects"] *[class^="inner"],
[class^="focusLock"] *[class^="profileEffects"] *[class^="inner"] {
    scale: 1;
    background-image: var(--profile-effect-image);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

[class^="focusLock"] *[class^="profileEffects"] *[class^="inner"] {
    background-size: cover;
    background-position: 0px 0px;
}

img[class^="avatarDecoration"],
:not([class*="shopCard"]) > * > *[class^="avatarDecoration"] img {
	object-position: 9999px;
	background-image: var(--avatar-decoration-image);
	background-size: cover;
}

